<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">主页</a></li>
<li><a href="/about">已完成</a></li>
<li><a href="/cv">未完成</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="https://jq.qq.com/?_wv=1027&k=HiYp4auB">QQ群</a></li>
   <li><a href="https://www.mcss.vip">服务器官网</a></li>
   </ul>
  </footer>
  </body>

</html>
